.process_conf_name_lists tbody tr{
    cursor: pointer;
}
#conf_detail_container .project_header{
    padding: 30px;
    margin-bottom: 10px;
    background-color: white;
}
#conf_detail_container .button_wrap{
    background-color: white;
    padding: 8px 30px;
    color: #38ADFF;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
}
#conf_detail_container .button_wrap>div{
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}
#conf_detail_container .detail_main_wrap{
    margin-top: 8px;
    background-color: white;
}
#conf_detail_container table th,#conf_detail_container table td{
    border: 0px solid transparent;
}
#conf_detail_container table .process_detail_group_line{
    background-color: rgba(242, 242, 242, 1);
}
#conf_detail_container table th:nth-child(1),#conf_detail_container table tr td:nth-child(1){
    width: 60px;
}
#conf_detail_container table tr td:nth-child(1){
    padding-left: 15px;
}
#conf_detail_container table th:nth-child(2),#conf_detail_container table td:nth-child(2){
    padding-left: 35px;
}
#conf_detail_container .process_detail_group_line td:nth-child(2){
    padding-left: 11px;
    width: 220px;
}
#conf_detail_container .process_detail_group_line .group_name{
    font-weight: bolder;
}
#conf_detail_container .process_detail_group_line span{
    margin-right: 8px;
}
#conf_detail_container .process_detail_group_detail_line{
    font-weight: 400;
    font-size:12px;
    color: #868686;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
}
#conf_detail_container .process_detail_group_detail_line .operate_wrap span{
    color: #38ADFF;
    cursor: pointer;
    margin-right: 8px;
}
#conf_detail_container .process_detail_group_line .trans{
    opacity: 0;
}
#conf_detail_container .process_detail_group_line:hover .trans{
    opacity: 1;
    cursor: pointer;
}
.create_new_group,.create_new_tache,.unlock_condition,.edit_group{
    display: none;
}
.edit_input_wrap{
    margin-top: 20px;
    margin-bottom: 20px;
}
.close_this_container .edit_input_wrap .edit_group_input{
    display: inline-block;
    width: 50%;
}
.close_this_container .create_wrap{
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    z-index: 1040;
    background-color: white;
    padding: 30px;
}
.close_this_container .create_wrap .create_wrap_head{
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
}
.close_this_container .create_wrap .create_group_input{
    display: inline-block;
    width: 50%;
}
.close_this_container .create_wrap .create_input_wrap,.edit_tache_input_wrap{
    margin-top: 15px;
    margin-bottom: 15px;
}
.close_this_container .create_wrap .create_texts{
    color: #A1A1A1;
    margin-bottom: 15px;
    margin-top: 10px;
}
.close_this_container .create_wrap .tache_info{
    margin-top: 10px;
    margin-bottom: 20px;
}
.close_this_container .create_wrap select{
    display: inline-block;
    width: 70%;
}
.close_this_container .create_wrap .create_tache_texts{
    color: #A1A1A1;
    padding-bottom: 10px;
    border-bottom: 1px solid #A1A1A1;
    margin-bottom: 15px;
}
#conf_detail_container .drag_show{
    display: none;
}
#conf_detail_container .drag_show span{
    display: inline-block;
    color: #4c4c4c!important;
    cursor: move;
}
.process_conf_click_to_detail td:nth-child(1),.process_conf_name_lists thead th:nth-child(1){
    padding-left: 25px;
}
#process_detail .process_conf_name_lists thead{
    font-weight: bolder;
    color: #434343;
}
#process_detail .process_conf_name_lists tbody{
    font-weight: 400;
    color: #797979;
}
.create_wrap .current_tache{
    display: inline-block;
    width: 70%;
}
.create_wrap .edit_tache_desc{
    margin-top: 15px;
}
#conf_detail_container .button_wrap>.cancel_sort{
    display: none;
}

.close_this_container .approval_flow_wrap{
    position: fixed;
    left:0;
    right:0;
    margin: 0 auto;
    top: 5%;
    width: 800px;
    z-index: 1040;
    background-color: white;
    padding: 20px 0px;
}
.approval_flow_container .approval_flow_wrap p{
    text-align: center;
    color: #2f2f2f;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}
.approval_flow_container .approval_flow_wrap .add_approval_node_wrap{
    padding: 20px;
    color: #2991d0;
    margin-bottom: 15px;
}
.approval_flow_wrap .add_approval_node_wrap .add_approval_node{
    float: right;
    margin-top: -7px;
    cursor: pointer;
}
.approval_flow_container .approval_flow_wrap .approval_main_left,.approval_flow_container .approval_flow_wrap .approval_main_right{
    display: inline-block;
}
.approval_main_left{
    width: 250px;
}
.approval_setting_node_wrap{
    height: 115px;
    position: relative;
}
.approval_setting_node{
    background: #199ed7;
    border-radius: 22px;
    padding: 10px;
    width: 130px;
    color: white;
    text-align: center;
    margin-left: 40px;
}
.approval_line_left{
    width: 80px;
    height: 1px;
    position: absolute;
    border-bottom: 1px dashed #cacaca;
    top: 18px;
    right: 0px;
}
.approval_main_left>span{
    color: #a4a4a4;
    position: absolute;
    left: 50px;
    top: 80px;
}
.approval_line_bottom{
    width: 1px;
    height: 68px;
    border-right: 1px solid #2991d0;
    position: absolute;
    left: 105px;
}
.approcal_tri{
     width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #2991d0;
    position: absolute;
    bottom: 0;
    left: 101px;
}
.approval_main_right{
    vertical-align: top;
}
.node_operate_wrap{
    padding: 5px;
    border: 1px solid #d7d7d7;
    margin-top: -20px;
    margin-bottom: 35px;
    width: 500px;
    position: relative;
}
.approval_main_right .node_operate_wrap .node_name{
    display: inline-block;
    width: 300px;
}
.approval_wrap_footer{
    border-top: 1px solid #d8d8d8;
    padding-top: 15px;
    text-align: center;
}
.approval_wrap_footer>span{
    display: inline-block;
    padding: 8px 25px;
    cursor: pointer;
}
.approval_wrap_footer>.approval_save{
    background: #199ed7;
    color: white;
}
.approval_wrap_footer>.approval_cancel{
    border: 1px solid #7bb5cd;
    color: #7bb5cd;
    padding: 7px 25px;
}
.node_operate_wrap>.close{
    position: absolute;
    top:3px;
    right: 5px;
}
.launch_more{
    margin-top: 15px;
}