.employee_item_left{
    width: 20%;
    float: left;
    text-align: center;
}
.employee_item_left img{
    width: 50px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.employee_item_wrap{
    float: left;
    background-color: lightgrey;
    padding: 10px 0 10px 15px;
    width: 30%;
    margin: 10px;
}
.employee_name{
    font-weight: bold;
}

/*员工看板的新建id样式*/
#cowin_hr_employee_item_kb_wrap{
    background-color: rgba(207,207,207,.5);
    box-shadow: 0 0 0 0;
    border-radius: 5px;
}
#cowin_hr_employee_item_kb_wrap .o_employee_summary_icons{
    display: none;
}
#cowin_hr_employee_item_kb_wrap .o_kanban_image img{
    border-radius: 50px;
}
#cowin_hr_employee_item_kb_wrap .o_kanban_view .o_kanban_record .o_kanban_image + div{
    padding-left: 90px;
}
#cowin_hr_employee_item_kb_wrap strong{
    font-size: 16px;
}
#cowin_hr_employee_item_kb_wrap ul li{
    margin-bottom: 8px;
    color: #797979;
}
