<odoo>
  <data>
    <!-- explicit list view definition -->
    <!--
    <record model="ir.ui.view" id="cowin_foudation.list">
      <field name="name">cowin_foudation list</field>
      <field name="model">cowin_foudation.cowin_foudation</field>
      <field name="arch" type="xml">
        <tree>
          <field name="name"/>
          <field name="value"/>
          <field name="value2"/>
        </tree>
      </field>
    </record>
    -->

    <!-- actions opening views on models -->

    <record model="ir.actions.act_window" id="cowin_foundation.information_gathering_act_window">
      <!--<field name="name">cowin_foundation window</field>-->
      <field name="name">基金</field>
      <field name="res_model">cowin_foundation.cowin_foundation</field>
      <field name="view_mode">tree,form</field>
    </record>


    <!-- server action to the one above -->
    <!--
    <record model="ir.actions.server" id="cowin_foudation.action_server">
      <field name="name">cowin_foudation server</field>
      <field name="model_id" ref="model_cowin_foudation_cowin_foudation"/>
      <field name="code">
        action = {
          "type": "ir.actions.act_window",
          "view_mode": "tree,form",
          "res_model": self._name,
        }
      </field>
    </record>
    -->

    <!-- Top menu item -->

    <menuitem name="基金" id="cowin_foundation.menu_root"/>

    <!-- menu categories -->

    <menuitem name="基金信息收集表" id="cowin_foundation.menu_1" parent="cowin_foundation.menu_root"
      action="cowin_foundation.information_gathering_act_window"/>
    <!--<menuitem name="Menu 2" id="cowin_foudation.menu_2" parent="cowin_foudation.menu_root"/>-->

    <!-- actions -->
    <!--
    <menuitem name="List" id="cowin_foudation.menu_1_list" parent="cowin_foudation.menu_1"
              action="cowin_foudation.action_window"/>
    <menuitem name="Server to list" id="cowin_foudation" parent="cowin_foudation.menu_2"
              action="cowin_foudation.action_server"/>
    -->
  </data>
</odoo>