#project_process_container{
    height:100%;
}
.o_content{
    background-color: white;
}
#project_process_container .project_header{
    padding: 18px 30px;
    background-color: white;
}
#project_process_container #process_tab{
    background-color: white;
    border-top:1px solid #ddd;
    padding-left: 20px;
}
#project_process_container #process_tab li a{
    color: #00B0DD;
    border:none;
    border-radius: 0px;
}
#project_process_container .nav-tabs > li.active > a, #project_process_container .nav-tabs > li.active > a:hover,#project_process_container .nav-tabs > li.active > a:focus{
    background-color: #00B0DD;
    border: none;
    color: white!important;
}
#process_tab_content{
    height:100%;
    background-color: white;
}
#project_process_container #process_data{
    /*overflow: hidden;*/
}
#project_process_container #process_tab_content .table{
    background-color: white;
}
#process_tab_content .process_data_main_wrap{
    float: left;
    width: 70%;
    margin-left: 50px;
}
#process_tab_content .process_data_left_wrap{
    float: left;
    overflow: hidden;
    padding: 3px;
}
.manage_team_btn{
    color: #949494;
    cursor: pointer;
}
.manage_team_btn_active{
    color: #00B0DD;
}
.manage_team_btn span{
    float: right;
    margin-top: 3px;
}
#process_tab_content .process_data_rounds{
    width: 180px;
    padding: 10px;
    background-color: rgba(242, 242, 242, 1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
    margin-top: 20px;
    margin-left: 15px;
}
#process_tab_content .process_data_rounds>div:nth-child(1){
    text-align: center;
    border-bottom: 1px solid rgba(134,134,134,.3);
    padding-bottom: 8px;
    color: #868686;
    margin-bottom: 10px;
}
#process_tab_content .process_rounds_wrap>strong{
    color: #949494;
    font-size:18px;
    font-weight: 700;
}
#process_tab_content .process_rounds_wrap>ul{
    padding-left: 18px;
    color: #949494;
    margin-top: 15px;
}
#process_tab_content .process_rounds_wrap>ul>li{
    margin-bottom: 8px;
    cursor: pointer;
}
#process_tab_content .process_rounds_wrap>ul>.active_fund{
    color: #00B0DD;
}
#process_tab_content .process_rounds_wrap>ul>li>span{
    float: right;
    margin-top: 3px;
}
#process_tab_content .process_rounds_wrap{
    margin-bottom: 30px;
}


#process_tab_content .process_data_main_wrap .process_data_item_line{
    padding: 8px 0;
    border-bottom: 1px solid rgba(134,134,134,.3);
    overflow: hidden;
}
#process_tab_content .process_data_main_wrap .header_line span{
    font-weight: bolder;
    color: #868686;
}
#process_tab_content .process_data_main_wrap .header_line .fa{
    margin-right: 4px;
    font-size: 18px;
    opacity: .8;
}
#process_tab_content .process_data_main_wrap .detail_line{
    padding-left: 20px;
    position: relative;
}
#process_tab_content .process_data_main_wrap .detail_line span{
    font-weight: lighter;
    color: #868686;
    float: left;
}
#process_tab_content .process_data_main_wrap .detail_line>span:nth-child(1){
    position: absolute;
}
#process_tab_content .process_data_main_wrap .detail_line>span:nth-child(2){
    margin-left: 180px;
}
#process_tab_content .process_data_main_wrap .detail_line>span:nth-child(3){
    margin-left: 10%;
}

#process_contact .process_contact_item{
    background-color: rgba(242, 242, 242, 1);
    overflow: hidden;
    color: #797979;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#process_contact .process_contact_item>div{
    float: left;
}
#process_contact .process_contact_item .header_image{
    padding: 20px;
    text-align: center;
}
#process_contact .process_contact_item .header_image>div{
    width: 50px;
    height: 50px;
    border: 1px solid #797979;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}
#process_contact .process_contact_item .header_image .fa{
    font-size: 25px;
    margin-top: 9px;
}
#process_contact .process_contact_item .header_image .contact_name{
    font-weight: bold;
    color: black;
    font-size: 16px;
}
#process_contact .process_contact_item .contact_company{
    color: #00B0DD;
    margin-right: 20px;
}
#process_contact .process_contact_item .contact_address{
    margin-top: 10px;
    margin-bottom: 10px;
}
#process_contact .process_contact_item .person_info{
    overflow: hidden;
}
#process_contact .process_contact_item .person_info>div{
    float: left;
}
#process_contact .process_contact_item .person_info .person_info_left{
    margin-right: 30px;
    border-right: 1px solid rgba(134,134,134,.3);
    padding-right: 30px;
}
#process_contact .process_contact_item .person_info>div>div{
    margin-bottom: 10px;
}

#process_record .process_record_item>div{
    display: inline-block;
    vertical-align:top;
}
#process_record .process_record_item .header_image{
    padding: 20px;
    text-align: center;
}
#process_record .process_record_item .header_image>div{
    width: 50px;
    height: 50px;
    border: 1px solid #797979;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}
#process_record .process_record_item .header_image .fa{
    font-size: 25px;
    margin-top: 9px;
}
#process_record .process_record_item_main{
    background-color: rgba(242, 242, 242, 1);
    padding: 15px;
    width: 88%;
}
#process_record .process_record_item_main .record_operater{
    font-weight: 700;
}
#process_record .process_record_item_main .record_operat_time{
    color: #949494;
    float: right;
}
#process_record .process_record_item_main .record_describe{
    color: #949494;
    margin-top: 8px;
    margin-left: 12px;
    margin-bottom: 10px;
}
#process_record .process_record_item_main .circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #949494;
    border-radius: 50%;
    margin-right: 3px;
}


.o_content .cowin_process_form_wrap{
    width: 60%;
    max-width: 650px;
    padding-left: 50px;
    padding-bottom: 100px;
}
.cowin_process_form_wrap .o_form_field_image img{
    height:100px;
}


.process_data_main_wrap .process_data_item_line .button_wrap{
    position: absolute;
    left: 400px;
    color: #00B0DD;
}
.process_data_main_wrap .process_data_item_line .button_wrap>span>a{
    color: #00B0DD;
}
#process_tab_content .process_data_main_wrap .process_data_item_line .button_wrap span{
    position: initial;
}
#process_tab_content .button_wrap .initiate{
    margin-right: 20px;
}


.approval_head{
    font-size: 18px;
    font-weight: bold;
    margin-left: 77px;
    margin-top: 40px;
}
#process_data .approval_page_record{
    padding-left: 77px;
    min-width: 1200px;
}
.approval_page_record .approval_record_head{
    background-color: rgba(238, 240, 240, 1);
    padding: 8px;
    font-size: 13px;
    font-weight: 700;
}
.approval_page_record .approval_record_body{
    padding: 8px;
    font-size: 13px;
    border-bottom: 1px solid rgba(238, 240, 240, 1);
}
.approval_page_record>div{
    overflow: hidden;
}
.approval_page_record>div>span{
    display: inline-block;
}
.approval_page_record>div>span:nth-child(1){
    width: 60px;
}
.approval_page_record>div>span:nth-child(2),.approval_page_record>div>span:nth-child(3),.approval_page_record>div>span:nth-child(4){
    width: 60px;
    margin-left: 40px;
}
.approval_page_record>div>span:nth-child(4){
    width: 380px;
}
.approval_page_record>div>span:nth-child(5){
    margin-left: 20px;
}
.approval_page_opinion_wrap{
    padding: 0 77px;
}
.approval_page_btns_wrap{
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid rgba(238, 240, 240, 1);
    padding-top: 30px;
}
.approval_yes{
    background-color: rgba(25, 158, 216, 1);
    color: white;
    display: inline-block;
    width: 118px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.approval_no{
    background-color: #FF0000;
    color: white;
    display: inline-block;
    width: 118px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.approval_page_btns_wrap .approval_suspend{
    background-color: #FFA500;
    color: white;
    display: inline-block;
    width: 118px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.approval_body{
    padding-left: 77px;
}
.approval_body div{
    background-color: rgba(25, 158, 216, 1);
    text-align: center;
    width: 118px;
    height: 35px;
    color: white;
    line-height: 35px;
    cursor: pointer;
}
#process_tab_content .process_data_main_wrap .header_line .copy_this_setting{
    cursor: pointer;
    margin-left: 15px;
    color: rgba(25, 158, 216, 1);
    font-weight: 500;
}
#process_tab_content #process_data .process_data_main_wrap .detail_line .team_role{
    position: static;
    /*font-weight: 500;*/
}
#process_tab_content #process_data .process_data_main_wrap .detail_line .team_role_names_wrap{
    margin-left: 200px;
}
#process_data .process_data_main_wrap .detail_line .team_role_names_wrap .add_new_role{
     color: rgba(25, 158, 216, 1);
     cursor: pointer;
     font-weight: 500;
    margin-top: 4px;
}

.add_new_content{
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    top:5%;
    width: 500px;
    z-index: 1040;
    background-color: white;
    padding: 20px;
    color: #868686;
}
.add_new_wrap{
    display: none;
}
.add_new_head .fa{
    float: right;
}
.add_new_body{
    margin-top: 20px;
}
.add_new_content .add_new_body .btn-group{
    width: 100%!important;
}
.add_new_foot{
    padding-top: 15px;
    text-align: center;
}
.add_new_foot>span{
    display: inline-block;
    padding: 8px 25px;
    cursor: pointer;
}
.add_new_foot>.confirm_sel{
    background-color: #199ed7;
    color: white;
}
.add_new_foot>.cancel_sel{
    border:1px solid #7bb5cd;
    color: #7bb5cd;
    padding: 7px 25px;
}
#process_tab_content #process_data .team_role_names_wrap>span{
    position: static;
    margin-left: 15px;
}
.team_role_names_wrap .member_name{
    display: inline-block;
    background-color: rgba(242, 242, 242, 1);
    padding: 3px 10px;
    text-align: center;
    font-weight: 500!important;
}
.team_role_names_wrap .member_name .fa-close{
    position: static!important;
    float: none!important;
    cursor: pointer;
}
.process_data_main_wrap .btns_wrap{
    text-align: center;
    margin-top: 50px;
}
.process_data_main_wrap .btns_wrap .confirm_project_team_setting{
    display: inline-block;
    background-color: rgba(25, 158, 216, 1);
    color: white;
    padding: 10px 25px;
    cursor: pointer;
}
.process_data_main_wrap .btns_wrap .cancel_project_team_setting{
    display: inline-block;
    background-color: rgba(255, 102, 51, 1);
    color: white;
    padding: 10px 25px;
    cursor: pointer;
}
#process_data .detail_lines_wrap .team_role{
    margin-top: 4px!important;
}
.no_perfect{
    float: none!important;
    color: white!important;
    border-radius: 12px;
    display: inline-block;
    margin-top: 0px!important;
    padding: 2px 5px;
    background-color: red;
}
.confirm_copy{
    background-color: #199ed7;
    color: white;
}
.button_wrap .view_tache{
    margin-right: 20px;
}
.back_to_last{
    margin-left: 77px;
    margin-top: 15px;
    background-color:rgba(25, 158, 216, 1);
    text-align: center;
    width:118px;
    height: 35px;
    color: white;
    line-height: 35px;
    cursor: pointer;
}
.o_kanban_view .fa-lg{
    color: #A1A1A1;
}

#process_record{
    padding-top: 10px;
}
#process_record .record_item_wrap{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}
#process_record .record_item_wrap .fa{
    float: left;
    font-size: 28px;
    margin-top: 12px;
}
#process_record .record_item_wrap .record_item{
    background-color: rgba(242, 242, 242, 1);
    padding: 10px;
    overflow: hidden;
    float: right;
    width: 95%;
}

.manage_team_edit_wrap{
    /*display: none;*/
}
.manage_team_edit{
    cursor: pointer;
    margin-left: 15px;
}
#project_process_container{
    overflow: hidden;
    margin-bottom: 100px;
}

#process_contact{
    padding: 15px;
}
#process_contact .process_contact_wrap{
    display: inline-block;
    margin: 8px;
    padding: 18px;
    min-width: 300px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 1);
}
#process_contact .process_contact_wrap>div{
    margin-bottom: 10px;
    color: #999999;
}

.process_data_main_wrap .process_data_item_line .button_wrap>.add_new_tache>a,.process_data_main_wrap .process_data_item_line .button_wrap>.initiate>a,.process_data_main_wrap .process_data_item_line .button_wrap>.to_approval>a{
    color:rgba(255, 102, 51, 1);
}
#process_tab_content .detail_line .gameover{
    position: absolute;
    right: 0px;
    color: red!important;
}
.process_add_fun>span{
    padding: 5px;
    background-color: #00B0DD;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}